.comingsoon{
    padding-top: 80px;
    padding-bottom: 140px;
    position: relative;
    z-index: 1;
    @include mmd{
        padding-top: 0;
        padding-bottom: 100px;
    }
    @include sm{
        padding-bottom: 70px;
    }
    &:before{
        position: absolute;
        content: "";
        bottom: 0%;
        right: -20%;
        width: 677.172px;
        height: 677.172px;
        border-radius: 677.172px;
        opacity: 0.5;
        background: #96A745;
        filter: blur(278.084716796875px);
        z-index: -1;
        @include sm{
            width: 300px;
            height: 300px;
        }
    }
    &:after{
        position: absolute;
        content: "";
        top: 0%;
        left: -25%;
        width: 677.172px;
        height: 677.172px;
        border-radius: 677.172px;
        opacity: 0.5;
        background: #96A745;
        filter: blur(278.084716796875px);
        z-index: -1;
        @include sm{
            width: 300px;
            height: 300px;
        }
    }
    .section-title{
        margin-bottom: 60px;
        @include mmd{
            margin-bottom: 40px;
        }
        @include sm{
            margin-bottom: 30px;
        }
        p{
            max-width: 415px;
            @include sm{
                margin-inline: auto;
            }
        }
    }
    .comingsoon-sinlge-item{
        padding: 90px 95px;
        border-radius: 56px;
        background: #15180A;
        transition: all .3s ease-in-out;
        @include xl{
            padding: 55px 55px;
        }
        @include lg{
            padding: 45px 45px;
        }
        @include mmd{
            padding: 50px 35px;
            border-radius: 30px;
        }
        @include sm{
            padding: 50px 30px;
            border-radius: 20px;
        }
        h3{
            margin-bottom: 20px;
        }
        p{
            color: #D5CBCB;
            max-width: 645px;
            @include mmd{
                margin-inline: auto;
            }
        }
    }
    .swiper{
        padding-bottom: 120px;
    }

    .comingSleft {
        width: 468px;
        flex: 0 0 auto;
        @include xl{
            width: 400px;
        }
        @include lg{
            width: 380px;
        }
        @include mmd{
            width: 320px;
        }
        img{
            border-radius: 16px;
            height: 450px;
            width: 100%;
            border: 2px solid #96A745;
            @include mmd{
                height: 300px;
            }
        }
        margin-right: 100px;
        @include xl{
            margin-right: 50px;
        }
        @include lg{
            margin-right: 50px;
        }
        @include mmd{
            margin-right: 0px;
            margin-inline: auto;
            margin-bottom: 30px;
        }
    }
}
.swiper-button-prev:after {
    content: url('/src/assets/img/arrowLeft.png');
}
.swiper-button-next:after {
    content: url('/src/assets/img/arrowRight.png');
}


.swiper-button-prev, .swiper-button-next {
    position: absolute;
    left: calc(50% - 60px);
    bottom: 30px;
    top: auto;
    @include transition;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
    opacity: .5;
}
.swiper-button-next{
    right:  calc(50% - 60px);
    left: auto;
}
