.header{
    width: 100%;
    &-content{
    .navitem{
        li{
            padding: 15px;
            a{
                color: $white;
                @include font-20;
                text-transform: uppercase;
                line-height: 8%;
            }
        }
         .logo{
            width: 100px;
            height: 40px;
         }
          
    }
    }
}