.token {
    &-wrapper {
        background-image: url("../img/token-bg.png");
        text-align: center;
        background-repeat: no-repeat;
        // padding: 119px 50px;
        &-title {
            h3 {
                text-shadow: -12px 8px 0px #030303;
                -webkit-text-stroke-width: 8px;
                -webkit-text-stroke-color: #050701;
                letter-spacing: 14.4px;
                text-transform: capitalize;
                padding-top: 119px;
                transform: rotate(-4deg);
            }
        }
        & .img-section{
            margin-top: 270px;
            & .image{
                .crickel-img{
                    height: 665px;
                }
                img{
                    margin-top: -20px;
                }
                .token2{
                    top: -200px;
                    left: 36%;
                    width: 280px;
                    height: 335px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .token1{
                    top: -24px;
                    left: 112px;
                    width: 250px;
                    height: 300px;
                    transform: rotate(-2deg);
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .token3{
                    top: -15px;
                    right: 129px;
                    width: 316px;
                    height: 380px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .cricel{
                    transform: translateY(-50%);
                    bottom: -82px;
                    left: 33%;
                    width: 460px;
                    height: 328px;
          
                }
            }
        }
    }
}