$white:#fff;
$black:#000;
$primary: #B0ADE2;
$text:#000;
$heading: #FFEE00;
$border:#000;
$bg:#B0ADE2;

@font-face {
    font-family: "best-Friends";
    src: url("../font/Best-Friends-Font.ttf");
}
$font-1:"best-Friends";
$font-2:"best-Friends";